*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

main{
    height:calc(100vh - 100px);
    width: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    justify-content: space-between;
    position: relative;
}

h2, h4, h5{
    color: white;
}

h6{
    color: #6e7175;
}

main section#aside-nav{
    width: 250px;
    height: 100%;
    background-color: black;
    flex-shrink: 0;
}

main section#aside-nav div.container{
    flex-direction: column;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
    line-height: 2.1rem;
    font-size: .8rem;
}

main section#aside-nav div#top-nav-bar{
    height: calc(100% - 80px);
    overflow: auto;
}

main section#aside-nav div#top-nav-bar img#logo-top{
    width: 150px;
}

main section#aside-nav div#top-nav-bar img#logo-top-small{
    display: none;
}

main section#aside-nav div#top-nav-bar div#navigation{
    margin: 1rem 0;
}

main section#aside-nav div#top-nav-bar div#navigation > div{
    padding-left: 5px;
}

main section#aside-nav div#top-nav-bar div#navigation > div:hover{
    border-left: 2px solid greenyellow;
}

main section#aside-nav div#top-nav-bar div#navigation div a{
    text-decoration: none;
    color: #6b6b6b;
}

main section#aside-nav div#top-nav-bar div#navigation img,
main section#aside-nav div#bottom-nav-bar img{
    width: 25px;
    vertical-align: middle;
    margin-right: 7px;
}

main section#aside-nav div#top-nav-bar div#add-playlist{
    padding-top: 7px;
    align-items: center;
}

main section#aside-nav div#top-nav-bar div#add-playlist div#btn-add,
main section#aside-nav div#bottom-nav-bar img#user-logo{
    background-color: #6b6b6b;
}


main section#aside-nav div#top-nav-bar div#add-playlist div#btn-add{
    width: 35px;
    height: 35px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-right: .6rem;
    font-weight: normal;
}

main section#aside-nav div#top-nav-bar div#add-playlist div#btn-add a,
main section#aside-nav div#top-nav-bar div#add-playlist a#playlist-create{
    text-decoration: none;
}

main section#aside-nav div#top-nav-bar div#add-playlist div#btn-add a{
    color: black;
}

main section#aside-nav div#top-nav-bar div#add-playlist div#btn-add:hover{
    background-color: white;
}

main section#aside-nav div#top-nav-bar div#add-playlist a#playlist-create{
    font-size: .9rem;
    color: #5a5a5a;
}

main section#aside-nav div#top-nav-bar ul{
    padding-top: .8rem;
}

main section#aside-nav div#top-nav-bar ul li{
    list-style: none;
}

main section#aside-nav div#top-nav-bar ul li a{
    color: #6b6b6b;
    text-decoration: none;
}

main section#aside-nav div#bottom-nav-bar{
    height: 80px;
}

main section#aside-nav div#bottom-nav-bar a{
    text-decoration: none;
    color: #5a5a5a;
}

main section#aside-nav div#bottom-nav-bar img#user-logo{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

main section#aside-nav div#bottom-nav-bar h5#user{
    font-size: .9rem;
}

main section#content{
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

main section#content div#cta{
    width: calc(100% - 250px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: end;
    align-items: center;
    padding-right: .5rem;
    position: fixed;
    z-index: 2;
}

main section#content div#cta a#btn-upgrade{
    border: .1rem solid white;
    padding: .7rem 3.5rem;
    border-radius: 25px;
    margin-right: 1rem;
    font-size: .9rem;
    text-decoration: none;
}

main section#content div#cta a#btn-upgrade:hover{
    transform: scale(1.1);
}

main section#content div#playlist-general{
    width: 95%;
    margin: auto;
    padding-top: 120px;
}

main section#content div#center-nav{
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

main section#content div#center-nav ul li{
    list-style: none;
}

main section#content div#center-nav ul li a{
    margin: 0 .7rem;
    color: #6b6b6b;
    text-transform: uppercase;
    font-size: .9rem;
    text-decoration: none;
}

main section#content div#center-nav ul li a:hover{
    border-bottom: 3px solid greenyellow;
}

main section#content div.item{
    flex-direction: column;
    width: 15%;
    text-align: center;
}

main section#content div.item div.img-play{
    position: relative;
}

main section#content div#playlist-general div.img-play img{
    width: 100%;
}

/* main section#content div.item div.img-play i#circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

main section#content div#playlist-general img:hover{
    filter: brightness(0.3);
}

main section#content div#playlist-general h2,
main section#content div#playlist-general h4{
    margin-bottom: 15px;
}

main section#content div#playlist-general h6{
    margin-bottom: 40px;
}

main section#content div#playlist-general h2{
    font-size: 1.5rem;
}

main section#content div#playlist-general h4{
    padding-top: 15px;
}

main section#content div#playlist-general h6{
    font-size: .8rem;
}

main section#content div#playlist-general div#recently-played,
main section#content div#playlist-general div#creator-for,
main section#content div#playlist-general div#popular-artists{
    margin-bottom: 60px;
    flex-wrap: wrap;
}

main section#content div#playlist-general div#recently-played{
    justify-content: space-between;
    padding-top: 25px;
}

main section#content div#playlist-general div#popular-artists img{
    border-radius: 50%;
}

main section#aside-nav div#top-nav-bar div#navigation > div a:hover,
main section#aside-nav div#top-nav-bar ul li a:hover, 
main section#aside-nav div#top-nav-bar div#add-playlist a#playlist-create:hover,
main section#aside-nav div#bottom-nav-bar a:hover,
main section#content div#playlist-general div#center-nav ul li a:hover, 
footer div#info-songs div#singer-track a#song:hover, 
.fa-heart:hover, .fa-folder:hover
{
    color: white;
}

footer div#info-songs, 
footer div#action-right {
    width: 150px;
    height: 100%;
    align-items: center;
}

footer div#info-songs{
    margin-left: 10px;
}

footer div#info-songs img{
    margin-right: 14px;
}

footer div#info-songs img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

footer div#info-songs div#singer-track{
    flex-direction: column;
    margin-right: 20px;
}

footer div#info-songs div#singer-track a#song{
    text-decoration: none;
    font-size: .6rem;
    color: #6b6b6b;
}

footer div#info-songs div#singer-track a#song:hover{
    text-decoration: underline;
}

footer div#action-center{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div#action-center div#ss{
    height: 50%;
    align-items: center;
    width: 170px;
    justify-content: space-evenly;
}

footer div#action-center div#ss i{
    font-size: 1.2rem;
}

footer div#action-center div#ss i,
footer div#action-right div#volume i{
    color: white;
    font-size: 13px;
}

footer div#action-center div#ss i#circle{
    font-size: 2rem;
}

footer div#action-center div#ss i.fa-play-circle:hover{
    transform: scale(1.2);
}

footer div#action-center div#time-song{
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

footer div#action-center div#time-song div#bar-song{
    width: 65%;
}

footer div#action-center div#time-song > span{
    font-size: .6rem;
}

footer div#action-right{
    margin-right: 10px;
}

footer div#action-right div#volume{
    width: 100%;
    justify-content: space-between;
    align-items: center;  
}

footer div#action-right div#volume div#bar-volume{
    width: 50%;
}

footer div.line-gray:hover{
    background-color: greenyellow;
}

.line-gray{
    height: 5px;
    width: 33%;
    background-color: #c1c1c1;
    border-radius: 5px;
    position: relative;
}

.line-darkgray{
    height: 5px;
    width: 100%;
    background-color: #5a5a5a;
    border-radius: 5px;
}

.flex{
    display: flex;
}

.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

.text-uppercase{
    text-transform: uppercase;
}

.align-center{
    align-items: center;
}

.white{
    color: white;
}

.logo-gray{
    opacity: 50%;
}

.far{
    color: #6b6b6b;
}

.singer{
    font-size: .9rem;
}

.margin-right{
    margin-right: 21px;
}

.ball{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -90%;
    left: 90%;
    opacity: 0;
} 

.ball:hover{
    opacity: 100;
}


@media screen and (max-width: 992px) and (min-width: 768px) {

    main section#content div#center-nav ul{
        flex-wrap: wrap;
        justify-content: center;
        line-height: 40px;
    }

    main section#content div.item{
        width: calc(25% - 10px);
        margin: 0px 5px;
    }

    main section#content div#playlist-general div#recently-played{
        justify-content: flex-start;
    }
}


@media screen and (max-width: 767px) and (min-width: 576px){
   
    main section#content div#center-nav ul{
        flex-wrap: wrap;
        justify-content: center;
        line-height: 40px;
    }

    main section#content div.item{
        width: calc(50% - 10px);
        margin: 0px 5px;
    }

    main section#content div#playlist-general div#recently-played{
        justify-content: space-between;
    }
}


@media screen and (max-width: 575px){
    

    main section#aside-nav{
        width: 60px;
        height: 100%;
        background-color: black;
        flex-shrink: 0;
    }

    main section#aside-nav span, 
    main section#aside-nav div#top-nav-bar img#logo-top, 
    main section#aside-nav div#top-nav-bar div#add-playlist, 
    main section#aside-nav div#top-nav-bar div#add-playlist div#btn-add, 
    main section#aside-nav div#top-nav-bar ul, 
    main section#aside-nav div#bottom-nav-bar hr, 
    main section#aside-nav div#bottom-nav-bar a, 
    main section#aside-nav div#bottom-nav-bar h5#user{
        display: none;
    }
    
    main section#aside-nav div#top-nav-bar{
        height: calc(100% - 80px);
    }
    
    main section#aside-nav div#top-nav-bar img#logo-top-small{
        display: inline-block;
    }
    
    main section#aside-nav div#top-nav-bar img#logo-top-small{
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-duration: 1.3s;
        animation-timing-function: linear;
    }

    @keyframes rotate{
        to{
        transform: rotate(360deg);
        }
    }

    main section#aside-nav div#top-nav-bar div#navigation > div{
        padding-left: 0px;
    }

    main section#aside-nav div#bottom-nav-bar img{
        margin-bottom: 10px;
    }

    main section#aside-nav div#bottom-nav-bar img#user-logo{
        margin: 2px;
    }

    main section#aside-nav div#bottom-nav-bar img#user-logo:hover,
    main section#aside-nav div#bottom-nav-bar img:hover{
        transform: scale(1.2);
    } 
    
    main section#aside-nav div#bottom-nav-bar img#user-logo{
        width: 20px;
        height: 20px;
    }
    
    main section#content div#center-nav ul{
        flex-wrap: wrap;
        justify-content: center;
        line-height: 40px;
    }

    main section#content div#center-nav ul li a{
        font-size: .8rem;
    }

    main section#content div.item{
        width: calc(50% - 10px);
        margin: 0px 5px;
    }
    
    main section#content div#cta{
        width: calc(100% - 60px);
        justify-content: end;
        align-items: center;
        padding-right: .5rem;
    }

    main section#content div#cta a#btn-upgrade{
        margin-right: 1.8rem;
        font-size: .7rem;
    }

    footer div#info-songs img{
        width: 35px;
        height: 35px;   
    }
}